# Currently used just as a rerefence for me when I hardcode stuff.

[OpenGL]
major := 3
minor := 3
profile :{core|compat} = core
extensions := [GL_KHR_debug, GL_ARB_ES2_compatibility, GL_ARB_direct_state_access]
vsync :{off|1|2|adaptive} = adaptive

[Window]
width := 640
height := 480
